<div{{ attributes }}>
  {% if not hide_subtotal %}
    <div{{ subtotal_attributes }}>
      <div {{ subtotal_label_attributes }}>{{ subtotal_label }}</div>
      {{ subtotal_price }}
    </div>
  {% endif %}

  {% if not hide_subtotal_vat %}
    <div{{ subtotal_vat_attributes }}>
      <div {{ subtotal_vat_label_attributes }}>{{ subtotal_vat_label }}</div>
      {{ subtotal_vat_price }}
    </div>
  {% endif %}

  {% if not hide_grandtotal %}
    <div{{ grandtotal_attributes }}>
      <div {{ grandtotal_label_attributes }}>{{ grandtotal_label }}</div>
      {{ grandtotal_price }}
    </div>
  {% endif %}

  {% if not hide_grandtotal_vat %}
    <div{{ grandtotal_vat_attributes }}>
      <div {{ grandtotal_vat_label_attributes }}>{{ grandtotal_vat_label }}</div>
      {{ grandtotal_vat_price }}
    </div>
  {% endif %}

</div>
