<div{{ attributes }}>
  <a href="{{ url }}" {{ link_attributes }}>
    {{ text }}
    {% if settings.show_cart_item_count %}
      <span class="item-count">{% trans with {'context': 'arch_cart'} %}
        <b class="count-item">{{ count }}</b> product in cart.
      {% plural count %}
        <b class="count-item">{{ count }}</b> products in cart.
      {% endtrans %}</span>
    {% endif %}
  </a>
  {{ templates }}
</div>
