<div class="table_wrap" style="float:left;width:60%;">
	<table>
		<thead>
			<tr>
				<th colspan="2" class="th_info">
					{{ basket_t('Product') }}
				</th>
				<th class="th_price">
					{{ basket_t('Price') }}
				</th>
				<th class="th_quantity">
					{{ basket_t('Quantity') }}
				</th>
				<th class="th_sum">
					{{ basket_t('Sum') }}
				</th>
			</tr>
		</thead>
		<tbody>
			{% if info.order.items %}
				{% for item in info.order.items %}
					<tr>
						<td class="td_img">
							{% if item.node_fields.img_uri %}
								{{ basket_image(item.node_fields.img_uri, 'thumbnail') }}
							{% endif %}
						</td>
						<td class="td_info">
							{% if info.itemsNodes[item.nid] %}
								<a href="{{ url('entity.node.canonical', {'node': item.nid}) }}" style="color:#053769;">{{ item.node_fields.title }}</a>
							{% else %}
								{{ item.node_fields.title }}
							{% endif %}
							{% if item.params_html.full %}
								<div class="params">
									{{ item.params_html.full|raw }}
								</div>
							{% endif %}
						</td>
						<td class="price">
							{{ item.price|basket_number_format(2, ',', ' ') }} {% if info.currency.name %}{{ basket_t(info.currency.name) }}{% endif %}
							{% if item.discount.percent %}
		                  		<br/><span class="discount_item">(-{{ item.discount.percent }}%)</span>
		                  	{% endif %}
						</td>
						<td class="td_quantity">
							{{ item.count }}
						</td>
						<td class="td_sum">
							{{ (item.price*item.count)|basket_number_format(2, ',', ' ') }} {% if info.currency.name %}{{ basket_t(info.currency.name) }}{% endif %}
						</td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
</div>
<div class="info_wrap" style="overflow:hidden;">
	<table>
		<thead>
			<tr>
				<th colspan="2">
					{{ basket_t('Order data') }}
				</th>
			</tr>
		</thead>
		<tbody>
			{{ info.build }}
		</tbody>
	</table>
	{{ info.basket_repeat }}
</div>
