{#
/**
 * @file
 * lacess's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{{ attach_library('laces/bootstrap-grid') }}
<div class="col-12">
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="text-light">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" width="75" height="75">
    </a>
  {% endif %}
  {% if site_name %}
    <span class="align-middle display-4">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="text-light">{{ site_name }}</a>
    </span>
  {% endif %}
  {% if site_slogan %}
    <p><em>"{{ site_slogan }}"</em></p>
  {% endif %}
  <hr class="border-darkgrey px-5">
</div>

