<div class="basket_area_buttons">
	<div class="buttons">
		{% for key, item in info.items %}
			<a 
			href="javascript:void(0);" 
			style="background:{{ item.color }};" 
			onclick="basket_operations_ajax(this, '{{ info.onclickUrl }}')"
			data-post="{{ item.dataPost }}"
			{% if item.notWhite %}
				class="not_white"
			{% endif %}
			>{{ item.ico|raw }}<span class="title_hover">{{ item.title }}</span></a>
		{% endfor %}
	</div>
	<div class="all_info">
		{% if info.goodsInfo %}
			{{ info.goodsInfo }}
		{% endif %}
	</div>
</div>
