
{% set totalSumNotDiscountDelivery = info.Cart.getTotalSum(TRUE, TRUE) %}
{% set totalSumNotDiscount = info.Cart.getTotalSum(FALSE, FALSE) %}
{% set payInfo = info.Cart.getPayInfo() %}

{% if info.Cart.getCount %}
	<div class="bot_line">
		<table>
			<tr>
				<td class="label">
					{{ 'Order price:'|t }}
				</td>
				<td class="value">
					{{ totalSumNotDiscountDelivery|basket_number_format(2, ',', ' ') }} {{ basket_t(info.Cart.getCurrencyName()) }}
				</td>
			</tr>
			{% if info.delivery.sum %}
				<tr>
					<td class="label">
						{{ 'Cost of delivery:'|t }}
					</td>
					<td class="value">
						{{ info.delivery.sum|basket_number_format(2, ',', ' ') }}
						{% if info.delivery.currency %}
							{{ basket_t(info.delivery.currency) }}
						{% else %}
							{{ basket_t(info.Cart.getCurrencyName()) }}
						{% endif %}
						{% if info.delivery.description %}
							<span class="tooltip" data-voc="delivery">i</span>
							<div class="desc_delivery" style="display:none;">{{ info.delivery.description }}</div>
						{% endif %}
					</td>
				</tr>
			{% endif %}
			{% if totalSumNotDiscount < totalSumNotDiscountDelivery %}
				<tr>
					<td class="label">
						{{ 'A discount:'|t }}
					</td>
					<td class="value">
						{{ (totalSumNotDiscountDelivery-totalSumNotDiscount)|basket_number_format(2, ',', ' ') }} {{ basket_t(info.Cart.getCurrencyName()) }}
					</td>
				</tr>
			{% endif %}
			<tr>
				<td class="label">
					{{ 'To pay:'|t }}
				</td>
				<td class="value">
					<span class="total">{{ info.Cart.getTotalSum()|basket_number_format(2, ',', ' ') }} {{ basket_t(info.Cart.getCurrencyName()) }}</span>
					{% if payInfo.price != info.Cart.getTotalSum() %}
						<br/><span class="total">{{ payInfo.price|basket_number_format(2, ',', ' ') }} {{ basket_t(payInfo.currency.name) }}</span>
					{% endif %}
				</td>
			</tr>
		</table>
		<div class="buttons">
			<a class="button button-order" href="{{ url('basket.pages', {'page_type': 'order'}) }}">{{ basket_t('Checkout') }}</a>
			<a class="button button-back" href="javascript:history.back();">{{ basket_t('Continue shopping') }}</a>
		</div>
	</div>
{% endif %}
