<div class="basket_admin_orders_stat_block">
	{{ info.settings|raw }}
	{% if info.items %}
		<div class="items">
			{% for item in info.items %}
				<div class="stat_row {% if item.onclick %}{% else %}not_click{% endif %}">
					<div class="wrap_row" title="{{ item.hover }}" onclick="{{ item.onclick }}" data-post="{{ item.post }}">
						<div class="title" style="background:{{ item.color }};">{{ item.title }}</div>
						<div class="wrap">
							<div class="ico">{{ item.ico|raw }}</div>
							<div class="text">{{ item.text }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>
