<div class="basket_add_button_wrap">
	{% if info.input %}
		<div class="basket_item_count">
			<a {{ info.button.min.attributes }}>{{ info.button.min.text }}</a>
			<input {{ info.input.attributes }} />
			<a {{ info.button.plus.attributes }}>{{ info.button.plus.text }}</a>
		</div>
	{% endif %}
	{% if info.add %}
		<a {{ info.add.attributes }}>{{ info.add.text }}</a>
	{% endif %}
	{{ info.basket_one_click }}
</div>
