<div class="basket_caption_block">
	{% if info.combo %}
		<div class="combo_field">
			<b>{{ basket_t('Combined filter') }}:</b> {{ info.combo }} <a href="javascript:void(0);" onclick="basket_set_combo_status(this)" data-post="">{{ basket_t('Cancel') }}</a>
		</div>
	{% endif %}
	<div class="items">
		{% if info.items %}
			{% for item in info.items %}
				<a href="{% if item.url %}{{ item.url }}{% else %}javascript:void(0);{% endif %}" target="{% if item.target %}{{ item.target }}{% else %}_self{% endif %}" class="{{ item.class|join(' ') }}" onclick="{{ item.onclick }}" data-post="{{ item.post }}">{{ item.name }}</a>
			{% endfor %}
		{% endif %}
		{{ info.edit_tab|raw }}
	</div>
	{{ info.export|raw }}
</div>
