<div class="additional-free-page">
	<div class="p-title">
		{{ basket_t('There will be regular support and updates of the module, fixing bugs and writing new plugins.') }}
	</div>
	{% if info.modules %}
		<div class="modules">
			<div class="b-title">
				{{ basket_t('Free modules available') }}
			</div>
			<div class="items">
				{% for module in info.modules %}
					<div class="item">
						<a href="{{ module.url }}" target="_blank">
							<span class="img">
								<span>
									<img src="/{{ info.image_path ~ module.logo }}" alt="{{ module.name }}"/>
								</span>
							</span>
							<span class="name">
								{{ module.name }}
							</span>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
	<div class="help">
		<div class="ico">
			{{ info.ico|raw }}
		</div>
		<div class="text">
			{{ 'If you need additional help, please contact our mail: @mail@ оr watch our videos on our YouTube channel: @youtube@'|t({
				'@mail@' : info.mail,
				'@youtube@' : info.youtubeLink
			}, {'context' : 'basket'}) }}
		</div>
	</div>
	{% if info.videos %}
		<div class="videos">
			{% for video in info.videos %}
				<div class="item">
					<iframe width="100%" height="250" src="{{ video }}"></iframe>
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>
