{#
/**
 * @file
 * Theme implementation for Color Palette form.
 */
#}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class='colorpalette'>
  {{ form.empty_note }}
  <div class='palette-colors'>
      {% for color in form.palette %}
        <div class='color-btn hexcode-{{ color.hexcode['#value'] }}'>
          <div>{{ color.button }}</div>
          <div class='color-label'>{{ color.name['#value'] }}</div>
        </div>
      {% endfor %}
  </div>

  <div class='palette-actions'>
    {{ form.actions }}
  </div>
</div>
