{% for section in profile.sections %}
    {% set s = section.entity %}
    {% set color = s.title_color.value %}
    {% set number = s.colored_letter_number.value %}
    <section>
        <h4><span style="color: {{ color }}">{{ s.title.value[:number] }}</span>{{ s.title.value[number:] }}</h4>
        {% for entity_box in s.entity_box  %}
            <div class="entity-box">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="tenure">
                            {{ entity_box.value.tenure | raw }}
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="entity-title">
                            <div class="entity-name">
                                {{ entity_box.value.title | raw }}
                            </div>
                            <div class="authority-name-loc">
                                {{ entity_box.value.employer | raw }}
                            </div>
                        </div>
                        <div class="entity-position">
                            {{ entity_box.value.domain | raw }}
                        </div>
                        <div class="entity-info">
                            {{ entity_box.value.info | raw }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endfor %}
