{% if concatenated %}
<span class="typed-telephone">{{ type }}{{ glue }}{{ number }}</span>
{% else %}
<span class="typed-telephone--type">{{ type }}</span><span class="typed-telephone--separator">{{ glue }}</span><span class="typed-telephone--number">{{ number }}</span>
{% endif %}
